body{
    margin: 20px auto 0px 20px;
    max-width: 1000px;
}

#twrap{
    //max-width: 50%;
}

#title{
    display: block;
    float: left;
    padding: 0 20px 0 0px;
    text-align: center;
    font-family: League Gothic;
    font-size: 6em;
    border-right-style: solid;
    border-width: 10px;
    border-color: #ededed;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

#content{
	
    display: block;
    font-family: inherit;
    font-weight: 300;
    width: 30%;
    float: left;
    
}

#content a{
	//font-style: italic;
	//text-decoration: none;
	//color: #fff;
	//font-weight: 300;
	
	//background: #555;
	
	//padding: 0px 3px 1px 6px;
}

#content a:hover{
	background: #727A81;
	//font-style: normal;
}

.tp{
	line-height: .9;
}

.tp #title div:nth-child(1){
		
}
.tp #title div:nth-child(2){
	
}
.tp #title div:nth-child(3){
	
}
.tp #title div:nth-child(4){
	
}

#projectwrapper {
	margin: 1em 0;
}

.projects {
	margin: 0;
}

.projects ul {
	padding-left: 2em;
}

.amp{
	font-family: Baskerville, Palatino, "Book Antiqua", cursive, serif;
	font-style: italic;
}

