@font-face {
	font-family: "League Gothic";
	src: url('/fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
		url('/fonts/leaguegothic/leaguegothic-regular-webfont.ttf')  format('truetype'),
		url('/fonts/leaguegothic/leaguegothic-regular-webfont.svg#leaguegothic') format('svg');
}

body {
	margin: 0;
	padding: 0;
}

#bgimage {
	position: fixed;
	z-index: -100;
	min-height: 100%;
	margin: 0;
	top: 0;
	left: 0;
}

html, button, input, select, textarea, body, .pure-g [class *="pure-u"] {
	font-family: Merriweather, Georgia, Times, serif;
	color: hsla(0, 0%, 0%, .87);
	font-size: 14px;
}

h1, h2, h3 {
	font-family: "Open Sans","Futura", "Helvetica Neue", sans-serif;
	font-weight: 700;
}

.big, h1, h2, h3 {
	color: #232323;
}

p {
	line-height: 1.7em;
}

/* fixing up images */
img {
	display: block;
	margin: 1.5em auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.img-circle {
	border-radius: 50%;
}

.container, nav.container {
	margin: 0 auto;
	padding: 0 .75em 0 .75em;
}

header {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	left: 0;
	top: 0;
	z-index: 20;
}

header > #main-title > span.big {
	pointer-events: none;
}

/* Custom footer */
footer {
	text-align: center;
	/*background-color: lightgray;*/
	padding-top: 2em;
	padding-bottom: 3em;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  text-align: center;
  margin-bottom: .75em;
  padding-top: .25em;
  padding-bottom: .25em;
}

footer li:hover {
  background-color: #ddd;
}

footer li a {
  display: block;
}

footer #meta > h3 {
	margin-bottom: 0;
}

footer #last {
	margin: 1em auto;
}

@media screen and (min-width: 35.5em) {
	.container, nav.container, footer .container {
		max-width: 35.5em;
		margin: 0 auto;
	}

	footer li {
		text-align: left;
		padding-left: 1em;
		padding-right: 1em;
	}
}


a {
	color: inherit;
}

a:hover {
	font-weight: bold;
}

a.no-style {
  text-decoration: none;
}

a.no-style:hover {
  font-weight: normal;
}

nav {
	margin-top: .5em;
	padding-bottom: 0em;
	z-index: 100;
}

nav .nav-item {
	text-align: center;
	height: 2em;
	line-height: 2em;
}

nav .nav-item:hover {
	/*background-color: #eee;*/
	background-color: hsla(0, 0%, 93%, .75);
}

nav .nav-item a {
	display: block;
	text-decoration: none;
	color: #ffffff;
}

.meta {
	font-family: Courier, monospace;
	font-size: 90%;
	margin-top: 1.5em;
}

/* Code snippets */
pre {
	max-height: 45em;
	overflow: scroll;
}

.list-unstyled {
    list-style-type: none;
}

.text-muted {
	color: gray;
}

.centered {
	margin: 0 auto;
}

.vert-center {
  /*
   * vertically centering text with code from
   * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
   */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hide {
	display: none !important;
}
