/* Custom header */
.articleInfo {
    padding: .7em 0;
    margin: .7em 0;
    border-bottom: 1px solid #e5e5e5;
    /* TODO: change this - refactor */
    font-size: 20px;
}

/* When on small screens - shrink images to size */
@media screen and (max-width: 35.5em) {
    img {
        max-height: 300px;
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 67em)	{

    .container {
        max-width: 65em;
    }

    .articleInfo, .post {
        box-sizing: border-box;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }

    .articleInfo {
        width: 33.333%;
        float: left;
        /*position: fixed;*/
    }

    .post {
        padding-left: 40px;
        width: 66.666%;
        float: left;
    }
}

/* need to make this a thing */
.caption {

}
