p.meta {
  text-align: center;
  margin: 0;
  margin-bottom: .5em;
}

#toc {
  border-top: 1px solid #888;
}

#toc ul {
  list-style: none;
  line-height: 2;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#toc .toc-h2 {
  padding-left: 0em;
}

#toc .toc-h3 {
  padding-left: 2em;
}

#toc .toc-h4 {
  padding-left: 4em;
}

main {
  border-top: 1px solid #888;
}

/* custom lede paragraphs (copying bootstrap lede style)*/
article > p:first-child {
  font-size: 1.25em;
  line-height: 1.7;
}
