#mid {
  padding-top: 1.5em;
  /*box-shadow: 0 0 20px #aaa;*/
}

#boston, #atlanta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#boston {
  background-image: url("/images/home.jpg");
}

#atlanta {
  background-image: url("/images/atl.jpg");
  background-position: center top;
}

.icon {
  max-width: 128px;
  max-height: 128px;
}

#personal-places section {
  min-height: 15em;
}

.airport-code {
  width: 85%;
  margin: 0 auto;
}

#boston p, #atlanta p {
  font-family: Open Sans;
  background-clip: padding-box;
  padding: 3% 5%;
}

#boston p {
  background-color: hsla(45, 29.8%, 90%, .75);
}

#atlanta p {
  background-color: hsla(200, 31.2%, 15%, .75);
}

#atlanta {
  color: hsl(45, 29.8%, 90%);
}
#atlanta .airport-code > h3 {
  color: hsla(45, 29.8%, 90%, .7);
}

#boston {
  color: hsl(200, 31.2%, 15%);
}
#boston .airport-code > h3 {
  color: hsla(200, 31.2%, 15%, .9);
}

#hire-me {
  background-color: #E1BEE7;
  background-clip: border-box;
}

@media screen and (min-width: 35.5em) {

  #intro p {
    padding: 0;
  }

  #intro p.text-pad-left {
    margin-left: 10%;
    font-size: 1.2em;
  }

  p.text-pad-left {
    box-sizing: border-box;
    margin-left: 1em;
  }
}
