@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.wait-spinner {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin: 0 auto;
}

.wait-spinner i.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#instagram-pictures {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 10em;
}

#instagram-pictures > .instagram-post {
  width: 13em;
  flex: 1 0 auto;
  padding: .5em;
}

.instagram-post a {
  border: none;
  color: inherit;
}

.instagram-post img {
  /*display: inline-block;*/
  margin: 0 auto;
}

.instagram-post p.caption {
  /* TODO magic multi-line css only ellipsis (without extra mumbojumbo)*/
}

#github-feed {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.github-event {
  line-height: 1.7em;
  padding-left: 1em;
}

.github-event.github-time-ago {
  margin: 0;
  border: 0;
  padding: 0;
}

.github-event.github-time-ago ~ .github-event.github-time-ago{
  margin-top: 1em;
  border-top: 1px lightgray solid;
}
