---
---
<html>
<head>
  <meta charset="utf-8">
  <title>Andrew Dai&rsquo;s Resume</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="print.css" media="print">
  <link rel="shortcut icon" href="https://en.gravatar.com/userimage/43242946/99ef6a0172bffefbe4c08416d432eef0.png?size=64">
  {% include heap.html %}
</head>

<body>

<header>

  <div class="no-print">
    <a href="https://www.dropbox.com/s/vwtjrxifyw940ma/Resume.pdf?dl=0"
      style="
        display: block;
        border: none;
        background: #ededed;
        padding: .5em;
        border-radius: 1em;
        margin-bottom: 2em;
        width: 7em;
        box-shadow: 0px 0px 2px black">
      PDF version
    </a>
  </div>

  <h1 id="name">Andrew Dai</h1>

  <ul id="contact">
    <li class="print-only">(978) 201-0796</li>
    <li class="print-only">a@andrewdai.co</li>
    <li class="no-print">a [at] <a href="https://andrewdai.co">andrewdai.co</a></li>
    <li class="print-only"><a href="http://andrewdai.co">andrewdai.co</a></li>
    <li><a href="https://github.com/bunsenmcdubbs"><span class='label'>
      github/</span>bunsenmcdubbs</a></li>
  </ul>

  <p id="objective">Building pretty good big things. Advocate and ally for Diversity, Equity and Inclusion </p>
</header>

<div class="container">
  <section class="resume-work">
    <h2>Experience</h2>

    <div class="entry">
      <h3><a href="https://heapanalytics.com">Heap</a></h3>
      <span class="role">Software Engineer, Data Platform</span>
      <span class="loc">San Francisco, California</span> and <span class="loc">Remote</span>
      <span class="date">January 2018 - <i>present</i></span>
      <ul>
        <li><p>Spearheaded adoption of Golang and worked on modernizing legacy codebase via service and API-first approach</p></li>
        <li>
          <p>Owned and operated the central data store for Heap&rsquo;s core functionality &mdash; a petabyte-scale PostgreSQL cluster</p>
          <ul>
            <li><p>Improved reliability by >10x, query performance by >2x, and saved millions $/year</p></li>
          </ul>
        </li>
        <li><p>Led backend development of new analysis features, including <a href="https://www.producthunt.com/posts/paths-by-heap">Path Analysis</a> </p></li>
        <li><p>Established systems and processes for understanding and controlling AWS spend</p></li>
        <li><p>Wore many other hats including <a href="https://heap.io/blog/engineering/applying-textbook-data-structures-for-real-life-wins">blog post author</a>, advancing DEI, onboarding my entire team, and interviewing ~90% of new grads in 2019</p></li>
      </ul>
    </div>

    <div class="entry">
      <h3><a href="https://squareup.com">Square</a></h3>
      <span class="role">Intern</span>
      <span class="loc">San Francisco, California</span> and <span class="loc">Remote</span>
      <span class="date">Summer 2017, October 2017 - January 2018</span>
      <ul>
        <li><p>Updated <a href="https://github.com/square/p2">tools</a> and utilities for host maintainence, application monitoring, and deployment configuration management</p></li>
        <li><p>Created a health monitoring service used in critical infrastructure, reducing network load</p></li>
      </ul>
    </div>

    <div class="entry">
        <h3><a href="https://hack.gt">HackGT</a></h3>
        <span class="role">Director, formerly Tech Team</span>
        <span class='loc'>Georgia Tech, Atlanta, Georgia</span>
        <span class='date'>December 2015 - November 2017</span>
        <ul>
            <li><p>Led a team of students which raised over $250,000 in sponsorship funding and organized events for over 1,000 students</p></li>
            <li><p>Started a &ldquo;<a href="https://catalyst.hack.gt">learnathon</a>&rdquo; because of disparities in local CS education &mdash; 300+ high school students attended</p></li>
            <li><p>Shifted outreach focus to under-represented minorities in STEM and created beginner-friendly environments</p></li>
            <li><p>Doubled the size of the organization and increased the scope to better serve undergraduates at Georgia Tech</p></li>
        </ul>
    </div>

    <div class="entry">
      <h3><a href="http://www.predictivetechnologies.com/">Applied Predictive Technologies</a></h3>
      <span class="role">Intern</span>
      <span class='loc'>Washington, D.C.</span>
      <span class='date'>Summer 2016</span>
      <ul>
        <li><p>Migrated core SQL Server schema to increase extensibility while maintaining backwards compatibility</p></li>
        <li><p>Created a new homepage for the core product to enable more complex analysis and increase feature adoption</p></li>
      </ul>
    </div>

    <div class="entry">
      <h3><a href="http://www.intersystems.com">InterSystems Corporation</a></h3>
      <span class="role">Intern</span>
      <span class="loc">Cambridge, Massachusetts</span> and <span class="loc">Remote</span>
      <span class='date'>Summer 2015, September 2015 - March 2016</span>
      <ul>
        <li><p>Designed and developed a full stack web application for bug and feature tracking using Angular.js and Cach&eacute; ObjectScript</p></li>
      </ul>
    </div>
  </section>

  <section class="resume-edu">
    <h2>Education</h2>
    <div class="entry">
      <h3>Georgia Institute of Technology</h3>
      <span class='loc'>Atlanta, Georgia</span>
      <span class='date'>August 2014 - May 2018</span>
      <p class="des">
        Bachelors of Science in Computer Science with Highest Honors
        and a minor in Sociology
          <ul>
              <li><p><span class="label">Research:</span> Developed <a href="https://andrewdai.co/dustandmagnet-presentation">novel data visualizations</a> at the Information Interfaces Lab under the direction of Dr. John Stasko</p></li>
        <li><p><span class="label">Involvement:</span> <a href="http://home.cc.gatech.edu/ice-gt/551">Project Rise Up 4 CS</a> (Developer) with Professor Barbara Ericson, Girls Who Code (Facilitator)</p></li>
        <li><p><span class="label">Awards:</span> Faculty Honors (2 semesters), Dean&rsquo;s List (6 semesters)</p></li>
      </ul>
    </div>
  </section>

  <section class="resume-skills">
    <h2>Skills</h2>

    <ul>
      <li><p><span class="label">Languages:</span>
        Golang,
        JavaScript (Typescript and, unfortunately, Coffeescript),
        SQL (Postgres),
        Python,
        Scala,
        Elixir
      </p></li>

      <li><p><span class="label">Tools/Platforms/Databases:</span>
        PostgreSQL,
        CitusDB,
        Linux,
        AWS (EC2, ECS, RDS, S3, SQS...),
        Docker,
        Redis
      </p></li>
    </ul>

  </section>

</div>

<footer>
  <small><a href="https://github.com/bunsenmcdubbs/bunsenmcdubbs.github.io/commits/master/resume/index.html">v4.1.0-20210217</a></small>
</footer>

{% include googleAnalytics.html %}

</body>

</html>
