body {
  padding: 0 1em;
  margin: 0;
  font-size: 13px;
}

a {
  text-decoration: none;
  border-bottom: none;
}

.no-print {
  display: none;
}

#name {
  float: left;
  text-align: left;
}

#contact, #objective {
  text-align: right;
}
