body {
  font-family: Georgia;
  font-size: 14px;
  padding: 2em 4em;
}

.container, header, footer {
  max-width: 72em;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6em;
}

header {
  text-align: center;
  margin-bottom: 1.5em;
}

#name {
  font-size: 2.6em;
  /*font-variant: small-caps;*/
  font-style: italic;
  /*padding-bottom: .1em;*/
}

#objective {
  font-style: italic;
}

@media screen and (min-width: 72em) {
  #name {
    float: left;
    text-align: left;
    border-bottom: 5px double darkgrey;
  }

  #contact, #objective {
    text-align: right;
  }
}


header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  line-height: 1.5em;
}

header li::after{
  content: " |";
}

header li:last-child::after {
  content: "";
}

footer {
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

.container .label {
  /*text-decoration: underline;*/
  border-bottom: 1px solid;
}

section {
  margin: 1em 0;
}

h2 {
  /*text-decoration: underline;*/
  font-style: italic;
  /*font-weight: bold;*/
  border-bottom: 1px solid grey;
  margin-bottom: .5em;
}

.container ul {
  margin-top: .1em;
  margin-bottom: .1em;
  padding-left: 20px;
}

.entry {
  margin: .75em 0;
}

h3 {
  display: inline-block;
  font-weight: bold;
}

.entry .role {
  /*font-style: italic;*/
}

.entry .role::before {
  content: "(";
}

.entry .role::after {
  content: ")";
}

.entry .loc {
  font-style: italic;
}

.entry .date {
  float: right;
  /*font-style: italic;*/
}

/* this is a hand-tuned adjustment to vertically align the date*/
.resume-edu .entry .date, .resume-work .entry .date {
  line-height: 17px;
}

.entry .des {
  font-style: italic;
}

p .entry .des {
  margin-top: .1em;
}

.resume-objective {
  /*padding-top: 1.3em;
  border-top: 1px solid grey;
  font-style: italic;
  text-align: center;
  font-size: 1.15em;
  line-height: 90%;*/
}

.resume-project .project-name {
  /*text-decoration: underline;*/
  /*border-bottom: 1px solid;*/
  font-weight: bold;
  line-height: 1.6em;
}

.resume-project h3 {
  /*font-size: 100%;*/
}

.meta {
}
