---
layout: base
title: Blog
subtitle: Musings, Updates, and Ongoing Work. Irregularly Updated.
custom_css: "/blog/style.css"
---

<div class="posts posts-{{ paginator.page }}">
  {% for post in paginator.posts %}
  <div class="entry pure-g">
    <div class="pure-u-1-6">
      <span class="meta">{{ post.date | date_to_string }}</span>
    </div>
    {% if post.categories contains 'quote' %}
    <div class="pure-u-5-6 quote-entry">
      <div class="quote">
        <a href="{{ post.url }}"><blockquote><p>{{ post.quote.text }}</p></blockquote></a>
        <p>{% include citation.html citation=post.quote %}</p>
      </div>
    </div>
    {% else %}
    <div class="pure-u-5-6 posts-entry">
      <h2 class="listing"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="excerpt">{{ post.excerpt }}</div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- Previous/Next Page -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="text-muted">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <em class="curr-page">{{ page }}</em>
  {% elsif page == 1 %}
  <a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
  {% else %}
  <a href="{{ site.paginate_path | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  <span class="text-muted">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
