/*.posts-1 > div:nth-of-type(1) > :first-child:before {
  content: '[Latest Post]';
  display: block;
  font-family: Courier, monospace;
  margin-bottom: .4em;
}*/

.entry {
  margin-top: 1em;
  box-sizing: border-box;
}

.quote blockquote:hover {
  border-left-color: #357efc;
}

.quote blockquote p {
  margin-top: 0;
}

.listing {
  margin: 0;
  font-size: 1.1em;
}

.excerpt {
  display: block;
  margin: .3em 0;
  max-height: 6.5em;
  overflow: hidden;
}

.excerpt p {
  font-style: normal;
  font-size: 100%;
  margin: 0;
}

.excerpt img {
  display: none;
}

/* paginator links */
.pagination {
  text-align: center;
  display: block;
  margin: 1em auto 0 auto;
  font-size: 20px;
}

.pagination a {
  text-decoration: none;
}

.pagination .curr-page {
  text-decoration: underline;
}
