---
layout: bare
---


<div class="container">
	<header>
		<nav class="pure-g">
			<div class="pure-u-1-5 nav-item"><a href="/">home</a></div>
			<div class="pure-u-1-5 nav-item"><a href="/blog/">blog</a></div>
			<div class="pure-u-1-5 nav-item"><a href="/projects/">projects</a></div>
			<div class="pure-u-1-5 nav-item"><a href="/about/">about</a></div>
			<div class="pure-u-1-5 nav-item"><a href="/archive/">archive</a></div>
		</nav>
	</header>

	<div class="content">
		{{ content }}
	</div>

	<!-- <a href="https://github.com/bunsenmcdubbs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->

	<footer>
		<small>
			Coder, Maker, and Photographer. Also known as BunsenMcDubbs. 2014.
		</small>
	</footer>
</div>
