---
layout: base
custom_css: "/css/post.css"
---
<div class="articleInfo">
  {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
  <div class="meta">written on {{ page.date | date_to_string }} by {{ site.author }}</div>
  <div id="toc"></div>
</div>

<main><article class="post">{{ content }}</article></main>

<script src="/js/jquery.toc.min.js" charset="utf-8"></script>
<script>
  var selectors = 'h2, h3, h4';
  if ($('.post').find(selectors).length != 0) {
    $('#toc').toc({
      selectors: selectors,
      container: '.post'
    });
  } else {
    $('#toc').remove();
  }
</script>
