---
layout: default
customCSS: "/css/post.css"
---
<div class="articleInfo">

  <div class="articleInfo-top">
    <!-- <h1 class="big">{{ page.title }}</h1> -->
    {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
    <div class="meta">written on {{ page.date | date_to_string }} by {{ site.author }}</div>
    {% if page.thumb%}
    <img class="thumb {% if page.thumb-circle != "false" %}img-circle{% endif %}" src="{{ page.thumb }}">
    {% endif %}
  </div>

  <div id="toc"></div>
<!-- feature to be added in the future (no support on FF or IE) -->
<!-- <details open><summary>Table of Contents</summary><div id="toc"></div></details> -->
</div>

<main><article class="post">{{ content }}</article></main>

<script>
// loadScript function was modified from SitePoint
// http://www.sitepoint.com/dynamically-load-jquery-library-javascript/
  function loadScript(url, callback) {

    var script = document.createElement("script")
    script.type = "text/javascript";

    if (script.readyState) { //IE
      script.onreadystatechange = function () {
        if (script.readyState == "loaded" || script.readyState == "complete") {
          script.onreadystatechange = null;
          if (callback) { callback(); }
        }
      };
    } else { //Others
      script.onload = function () {
        if (callback) { callback(); }
      };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
  }

  var selectors = 'h2, h3';

  if ($('.post').find(selectors).length != 0) {
    loadScript("/js/jquery.toc.min.js", function() {
      loadScript("/js/jquery.sticky.js", function() {
        $('#toc').toc({
          'selectors': selectors,
          'container': '.post',
          'anchorName': function(i, heading, prefix) {
            return $(heading).text().replace(/[^a-z0-9]/ig, ' ').replace(/\s+/g, '-').toLowerCase();
          }
        });
        $(document).ready(function(){
          $("#toc").sticky({topSpacing:10, getWidthFrom: ".articleInfo"});
        });
      });
    });
  } else {
    $('#toc').remove();
  }


</script>
